<button type="button" (click)="loginUser()">
    Login
</button>
<span title="you have to press login button to log in after it, you can acess other screens">💡</span> &nbsp;

<button type="button" (click)="logoutUser()">
    Log out
</button> &nbsp;

<button type="button">
    <a href="/"> Home </a>
</button>
<span title="gave routing path into href, it will refresh whole page">💡</span> &nbsp;

<button type="button">
    <a routerLink="categories"> Category </a>
</button>
<span title="gave routing path into routerLink, it will load content of page without refresh">💡</span> &nbsp;
&nbsp;

<button type="button">
    <a routerLink="user"> User </a>
</button>
<span title="open console for testing Resolver">💡</span> &nbsp;


<router-outlet></router-outlet>